@model SearchEngineTask.Models.ResponseModel
@{
    ViewBag.Title = "Home Page";
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<div class="container" style="margin: 20px">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <form action="/Home/Index" method="post">
                    <input type="text" id="SearchText" name="SearchText" value="@ViewBag.SearchText" placeholder="Search" />
                    <input type="submit" value="Search" />
                </form>
            </div>

            <hr />

            @if (Model.Captcha != null)
            {
                <form action="/Home/VerfiyCaptcha" method="post">
                    <img src="@Model.Captcha.url_captcha" alt="Alternate Text" />
                    <input type="text" name="rep" value="" style="margin-top: 2%" placeholder="Captcha text" />
                    <input type="hidden" name="searchText" value="@Model.Captcha.searchText" />
                    <input type="hidden" name="retkey" value="@Model.Captcha.retkey" />
                    <input type="hidden" name="key" value="@Model.Captcha.key" />
                    <input type="submit" value="Verify" />
                </form>
            }
            else
            {
                foreach (var item in Model.Responses)
                {
                    <a href="@item.Link"><h3>@item.Title</h3></a>
                    <p>@item.Description</p>
                }
            }
        </div>
        <div class="col-md-6">
            <h4>Search History</h4>
            <br />
            <table class="table">
                <thead>
                    <tr>
                        <td>Search text</td>
                        <td>Search engine</td>
                    </tr>
                </thead>
                <tbody id="tableBody"></tbody>
            </table>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    $.ajax(
        {
            url: '/Home/GetHistory',
            datatype: "json",
            success: function (data) {
                console.log(data.list);
                var tb = $("#tableBody");
                tb.html("");

                $.each(data.list, function (key, value) {
                    tb.append("<tr><td><a href=/Home/SearchResults/" + value.SearchId + ">" + value.SearchText + " </a></td><td>" + value.SearchEngineName + "</td></tr >");
                });

                tb.append("<tr><td><a href='/Home/SearchHistory'>View all</a></td></tr>");
            }
        });
</script>